<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Artist</title>
    <style>
        body 	{
		background: linear-gradient(100deg, #2980b9, #8e44ad);
		font-family: Arial;
		}

		#wrapper { width: 960px;
	        margin-left: auto;
	        margin-right: auto; }

		h1		{	color: #FFE6F7;

			font-family: Arial;
			text-align: center;
			font-size : 5em;
		}

		nav 	{   font-weight: bold;
		font-size: 1.25em;
		text-align: center;
		border-radius: 15px;
		color: #FFE6F7;
		}

    </style>
</head>
<body>
<div id="wrapper">
    <h1> Artist </h1>
    <nav>
        <a href = "{% url 'registration:login' %}">  Log-In</a> &nbsp; &nbsp;
        <a href = "{% url 'registration:createNewSinger' %}"> Register as New Singer</a> &nbsp; &nbsp;
        <a href = "{% url 'registration:createNewActor' %}"> Register as New Actor</a> &nbsp; &nbsp;
    </nav>
</div>
</body>
</html>